@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');




body{
background: #F2F2F2;
}



.Index-Freebie-Agency{
position: relative;
width: 1900px;
height: 6563px;
background: #FFFFFF;}



.Hero{
position: absolute;
width: 1800px;
height: 904px;
left: calc(50% - 1800px/2);
top: 48px;}

nav{
position: absolute;
width: 503px;
height: 21px;
left: 985.36px;
top: 79px;}

.works {
    position: absolute;
    width: 55px;
    height: 21px;
    left: 0px;
    top: 0px;
}

.about {
    position: absolute;
    width: 45px;
    height: 21px;
    left: 113.31px;
    top: 0px;
}

.services {
    position: absolute;
    width: 66px;
    height: 21px;
    left: 216.64px;
    top: 0px;

}

.blog {
    position: absolute;
    width: 36px;
    height: 21px;
    left: 340.93px;
    top: 0px;

}

.contact {
    position: absolute;
    width: 61px;
    height: 21px;
    left: 441.27px;
    top: 0px;
}

.nav_text{
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
letter-spacing: 1.94px;
color: #FFFFFF;}

.line1{
    position: absolute;
    width: 54.91px;
    height: 2px;
    left: 0px;
    top: 19px;

    background: #4CAF50;
}

.line2{
    position: absolute;
    width: 17.97px;
    height: 2px;
    left: 26.96px;
    top: 19px;

    background: #4CAF50;
}

.line3{
    position: absolute;
    width: 17.97px;
    height: 2px;
    left: 47.92px;
    top: 19px;

    background: #4CAF50;
}

.line4{
    position: absolute;
    width: 17.97px;
    height: 2px;
    left: 17.97px;
    top: 19px;

    background: #4CAF50;
}

.line5{
    position: absolute;
    width: 19.44px;
    height: 2px;
    left: 40.45px;
    top: 19px;

    background: #4CAF50;
}

.WHERE_GREAT_IDEAS_CO{
position: absolute;
width: 1171.05px;
height: 98px;
left: 310.48px;
top: 303px;
font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 107px;
text-align: center;
letter-spacing: 4.608px;
color: #FFFFFF;}

.Passionate_creative{
position: absolute;
width: 1171.05px;
height: 27px;
left: 316.04px;
top: 490.5px;
font-family: Open Sans;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 1.28px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.8;}

.SlideControls{
position: absolute;
width: 107px;
height: 49px;
left: 843.59px;
top: 796px;}

.one{
position: absolute;
width: 42.93px;
height: 49px;
left: 2px;
top: 0px;
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 53px;
letter-spacing: 2.304px;
color: #FFFFFF;}

.two{
position: absolute;
width: 21.96px;
height: 25px;
left: 53.91px;
top: 39px;
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
letter-spacing: 1.152px;
color: rgba(255, 255, 255, 0.437245);}

.three{
position: absolute;
width: 21.96px;
height: 25px;
left: 84.86px;
top: 39px;
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
letter-spacing: 1.152px;
color: rgba(255, 255, 255, 0.437245);}

.Image{
position: absolute;
width: 1800px;
height: 904px;
left: 0px;
top: 0px;}



.FirstSection{
position: absolute;
width: 1182px;
height: 559px;
right: 353px;
top: 1101px;}

.Image1{
position: absolute;
width: 309px;
height: 391px;
left: 193px;
top: 0px;

z-index: 2;}

.Image2{
position: absolute;
width: 309px;
height: 391px;
left: 613px;
top: 168px;}

.GreenBox{
position: absolute;
width: 309px;
height: 418px;
left: 403px;
top: 62px;
background: #4CAF50;
mix-blend-mode: normal;
opacity: 0.8;

z-index: 1;}

.WE_ARE{
position: absolute;
width: 120px;
height: 53px;
left: 0px;
top: 34px;
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 53px;
letter-spacing: 2.304px;
color: #333333;
}

.THE_SQWD{
position: absolute;
width: 238px;
height: 57px;
left: 0px;
top: 93px;
font-family: Open Sans;
font-size: 42px;
line-height: 49px;
letter-spacing: 2.688px;
color: #504E4E;

mix-blend-mode: normal;
opacity: 0.9;
z-index: 3;}

.Lorem_ipsum_dolor_si_0{
font-family: Open Sans;
font-size: 15px;
line-height: 25px;
letter-spacing: 1.26px;
color: #5B5858;}

.Lorem_ipsum_dolor_si_1{
position: absolute;
width: 311px;
height: 75px;
left: 41px;
top: 209px;

mix-blend-mode: normal;
opacity: 0.8;
z-index: 3;}

.Lorem_ipsum_dolor_si_2{
position: absolute;
width: 311px;
height: 75px;
left: 901px;
top: 394px;

mix-blend-mode: normal;
opacity: 0.8;
z-index: 3;}



.Services{
position: absolute;
width: 1800px;
height: 690px;
left: calc(50% - 1800px/2);
top: 1777px;

background: #FBFBFB;}

.OurServices{
position: absolute;
width: 283px;
height: 74px;
left: 315px;
top: 135px;
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 71px;
letter-spacing: 3.072px;
color: #252525;}

.Title{
position: absolute;
width: 87px;
height: 44px;
left: 44px;
top: 53px;
font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;
letter-spacing: 1.28px;
text-transform: uppercase;
color: #252525;}

.image{
position: absolute;
width: 25px;
height: 25px;
left: 288px;
top: 63px;

z-index: 1;}

.Oval{
position: absolute;
width: 50px;
height: 50px;
left: 275px;
top: 50px;
background: #FFFFFF;
box-shadow: 0px 0px 20px #DBDBDB;

border-radius: 50%}

.Lorem_ipsum_dolor_si{
position: absolute;
width: 281px;
height: 75px;
left: 43px;
top: 116px;
font-family: Open Sans;
font-size: 12px;
line-height: 25px;
letter-spacing: 1.008px;
color: #777777;}

.READ_MORE{
position: absolute;
width: 58px;
height: 15px;
left: 44px;
top: 210px;
font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 15px;
letter-spacing: 0.64px;
text-transform: uppercase;
color: #252525;
mix-blend-mode: normal;
opacity: 0.5;}

.READ_MORE_0{
position: absolute;
width: 58px;
height: 15px;
left: 44px;
top: 210px;
font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 15px;
letter-spacing: 0.64px;
text-transform: uppercase;
color: #252525;}

.Branding{
position: absolute;
width: 373px;
height: 260px;
left: 315px;
top: 294px;

background: #FFFFFF;}

.Design{
position: absolute;
width: 373px;
height: 260px;
left: 716px;
top: 294px;

background: #FFFFFF;}

.Development{
position: absolute;
width: 373px;
height: 260px;
left: 1115px;
top: 294px;

background: #FFFFFF;}



.LatestWorks{
position: absolute;
width: 1185px;
height: 1652px;
right: 356px;
bottom: 2280px;}

.LatestWorksTitle{
position: absolute;
width: 291px;
height: 130px;
left: 6px;
top: 57px;
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 71px;
letter-spacing: 3.072px;
color: #252525;}

.Categories{
position: absolute;
width: 549px;
height: 18px;
left: 6px;
top: 182px;}

.ALL{
position: absolute;
width: 25px;
height: 18px;
left: 0px;
top: 0px;
font-family: Open Sans;
font-size: 13px;
line-height: 15px;
letter-spacing: 0.832px;
color: #252525;}

.WEB_DESIGN{
position: absolute;
width: 86px;
height: 18px;
left: 65.5px;
top: 0px;
font-family: Open Sans;
font-size: 13px;
line-height: 15px;
letter-spacing: 0.832px;
color: #252525;
mix-blend-mode: normal;
opacity: 0.3;}

.BRANDING{
position: absolute;
width: 73px;
height: 18px;
left: 193px;
top: 0px;
font-family: Open Sans;
font-size: 13px;
line-height: 15px;
letter-spacing: 0.832px;
color: #252525;
mix-blend-mode: normal;
opacity: 0.3;}

.PHOTOGRAPHY{
position: absolute;
width: 104px;
height: 18px;
left: 307.5px;
top: 0px;
font-family: Open Sans;
font-size: 13px;
line-height: 15px;
letter-spacing: 0.832px;
color: #252525;
mix-blend-mode: normal;
opacity: 0.3;}

.ILLUSTRATION{
position: absolute;
width: 98px;
height: 18px;
left: 452px;
top: 0px;
font-family: Open Sans;
font-size: 13px;
line-height: 15px;
letter-spacing: 0.832px;
color: #252525;
mix-blend-mode: normal;
opacity: 0.3;}

.ImgsRight{
position: absolute;
width: 455px;
height: 444px;
left: 129px;
top: 0px;}

.PhotographyRight{
position: absolute;
width: 116px;
height: 25px;
left: 343px;
top: 468px;
font-family: Open Sans;
font-size: 18px;
line-height: 21px;
text-align: right;
letter-spacing: 1.152px;
color: #252525;}

.Lorem_ipsum_dolor_siRight{
position: absolute;
width: 336px;
height: 46px;
left: 123px;
top: 510px;
font-family: Open Sans;
font-size: 13px;
line-height: 23px;
text-align: right;
letter-spacing: 0.832px;
color: #C2C2C2;}

.ImgsLeft{
position: absolute;
width: 455px;
height: 444px;
left: 0px;
top: 0px;}

.PhotographyLeft{
position: absolute;
width: 116px;
height: 25px;
left: 174px;
top: 467px;
font-family: Open Sans;
font-size: 18px;
line-height: 21px;
letter-spacing: 1.152px;
color: #252525;}

.Lorem_ipsum_dolor_siLeft{
position: absolute;
width: 336px;
height: 46px;
left: 174px;
top: 512px;
font-family: Open Sans;
font-size: 13px;
line-height: 23px;
letter-spacing: 0.832px;
color: #C2C2C2;}

.First{
position: absolute;
width: 584px;
height: 556px;
left: 595px;
top: 0px;}

.YEARS_PHOTOGRAPH{
position: absolute;
width: 295px;
height: 142px;
left: 0px;
top: 212px;
font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 71px;
letter-spacing: 3.072px;
color: #252525;

z-index: 1}


.Second{
position: absolute;
width: 583px;
height: 596px;
left: 0px;
top: 361px;}

.A_KITTEN’S_LIFE{
position: absolute;
width: 228px;
height: 142px;
left: 370px;
top: 218px;
font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 71px;
letter-spacing: 3.072px;
color: #252525;

z-index: 1}

.Third{
position: absolute;
width: 584px;
height: 555px;
left: 601px;
top: 733px;}

.GROOVEMADE_PRODUCTS{
position: absolute;
width: 422px;
height: 142px;
left: 0px;
top: 212px;
font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 71px;
letter-spacing: 3.072px;
color: #252525;

z-index: 1}

.Forth{
position: absolute;
width: 609px;
height: 558px;
left: 6px;
top: 1094px;}

.APPLE’S_LOST_MAGIC{
position: absolute;
width: 256px;
height: 142px;
left: 370px;
top: 218px;
font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 71px;
letter-spacing: 3.072px;
color: #252525;

z-index: 1}

.view_more{
position: absolute;
width: 75px;
height: 19px;
left: 1118px;
top: 1629px;
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 19px;
text-align: right;
letter-spacing: 2px;
color: #252525;}



.TheTeam{
position: absolute;
width: 1800px;
height: 845px;
left: calc(50% - 1800px/2);
bottom: 1262px;

background: #FBFBFB;}

.TheTeamTitle{
position: absolute;
width: 208px;
height: 74px;
left: 315px;
top: 135px;
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 71px;
letter-spacing: 3.072px;
color: #252525;}

.ImagePerson{
position: absolute;
width: 370px;
height: 398px;
left: 0px;
top: 0px;
}

.ImgPlaceholder{
position: absolute;
width: 370px;
height: 55px;
left: 0px;
top: 0px;
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;

z-index: 1;}

.Name{
position: absolute;
width: 370px;
height: 55px;
left: 0px;
top: 343px;}

.NameText{
position: absolute;
width: 93px;
height: 27px;
left: 144px;
top: 0px;
font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
letter-spacing: 1.152px;
color: #252525;

z-index: 2;}

.Person1{
position: absolute;
width: 370px;
height: 398px;
left: 315px;
top: 280px;}

.Person3{
position: absolute;
width: 370px;
height: 398px;
left: 1120px;
top: 280px;}

.Person2{
position: absolute;
width: 370px;
height: 398px;
left: 713px;
top: 280px;}

.ImgPlaceholder2{
position: absolute;
width: 370px;
height: 155.24px;
left: 0px;
top: 0.76px;
background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.92;

z-index: 1;}

.Name2{
position: absolute;
width: 370px;
height: 156px;
left: 0px;
top: 242px;}

.NameText2{
position: absolute;
width: 129px;
height: 25px;
left: 126px;
top: 0px;
font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
letter-spacing: 1.152px;
color: #252525;

z-index: 2;}

.NameText2_0{
position: absolute;
width: 134px;
height: 27px;
left: 125px;
top: 42px;
font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
letter-spacing: 1.152px;
color: #252525;

z-index: 2;}

.Create_with_simplici{
position: absolute;
width: 311px;
height: 25px;
left: 30px;
top: 333px;
font-family: Open Sans;
font-size: 12px;
line-height: 25px;
text-align: center;
letter-spacing: 1.008px;
color: #777777;

z-index: 2;}



.Testimonial{
position: absolute;
width: 1172px;
height: 270px;
left: calc(50% - 1172px/2);
bottom: 875px;}

.Lorem_ipsum_dolor_si_text{
position: absolute;
width: 765px;
height: 93px;
left: 218px;
top: 0px;
font-family: Open Sans;
font-size: 14px;
line-height: 31px;
text-align: center;
letter-spacing: 0.896px;
color: #373737;

mix-blend-mode: normal;
opacity: 0.8;}

.quote{
position: absolute;
width: 20px;
height: 20px;
left: 585px;
top: 134px;}

.Autor{
position: absolute;
width: 212px;
height: 27px;
left: 493.5px;
top: 173px;

display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 1.152px;
list-style: none;
padding: 0px;}

.Autor1{
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
text-align: center;
letter-spacing: 1.152px;
color: #373737;

margin: 5px;}

.Autor2{
font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
text-align: center;
letter-spacing: 1.152px;
color: #B8B8B8;

margin: 5px;}

.Autor3{
font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
text-align: center;
letter-spacing: 0.896px;
color: #B8B8B8;

margin: 5px;}

.Stars{
position: absolute;
width: 111px;
height: 15px;
left: 528px;
top: 230px;

display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 1.152px;
list-style: none;
padding-left: 10px;}

.star{
width: 15px;
height: 15px;

margin: 4.5px;}

.star0{
width: 15px;
height: 15px;
mix-blend-mode: normal;
opacity: 0.2;

margin: 4.5px;}

.previous{
position: absolute;
width: 20px;
height: 20px;
left: 20px;
top: 248px;}

.next{
position: absolute;
width: 20px;
height: 20px;
left: 1152px;
top: 248px;}



.LetsWorkTogether{
position: absolute;
width: 903px;
height: 300px;
left: 49px;
bottom: 458px;

background: #FBFBFB;}

.Want_to_work_togethe{
position: absolute;
width: 274px;
height: 36px;
left: 320px;
top: 123px;
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;
letter-spacing: 2.66667px;
color: #373737;}

.AmazingTell_us_abo{
position: absolute;
width: 299px;
height: 19px;
left: 312px;
top: 181px;
font-family: Open Sans;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 1.55556px;
color: #373737;
mix-blend-mode: normal;
opacity: 0.8;}

.briefcase{
position: absolute;
width: 35px;
height: 35px;
left: 434px;
top: 89px;}



.ContactUs{
position: absolute;
width: 903px;
height: 300px;
right: 45px;
bottom: 458px;

background: #70BD59;}

.Contact_us{
position: absolute;
width: 127px;
height: 36px;
left: 394px;
top: 123px;
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;
letter-spacing: 2.66667px;
color: #FFFFFF;}

.Get_in_touch{
position: absolute;
width: 105px;
height: 19px;
left: 404.5px;
top: 181px;
font-family: Open Sans;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 1.55556px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.8;}

.mail{
position: absolute;
width: 35px;
height: 35px;
left: 434px;
top: 92px;}



.FooterTop{
position: absolute;
width: 1806px;
height: 339px;
right: 45px;
bottom: 119px;

background: #2E2E2E;}

.Content{
position: absolute;
width: 259px;
height: 174px;
left: 772px;
top: 83px;}

.rdFloorSantaMon{
position: absolute;
width: 279px;
height: 17px;
left: 0px;
top: 59px;
font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 19px;
letter-spacing: 0.832px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;}

.Contacts{
position: absolute;
width: 237px;
height: 17px;
left: 16px;
top: 86px;
font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 19px;
letter-spacing: 0.832px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;}

.Social{
position: absolute;
width: 138px;
height: 32px;
left: 60px;
top: 142px;}

.facebook{
position: absolute;
width: 32px;
height: 32px;
left: 0px;
top: 0px;}

.twitter{
position: absolute;
width: 32px;
height: 32px;
left: 53px;
top: 0px;}

.pinterest{
position: absolute;
width: 32px;
height: 32px;
left: 106px;
top: 0px;}



.FooterBottom{
position: absolute;
width: 1806px;
height: 58px;
right: 45px;
bottom: 62px;

background: #252525;}

.Copyright_2016-All{
position: absolute;
width: 306px;
height: 17px;
left: 758px;
top: 11px;
font-family: Oswald;
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 19px;
letter-spacing: 0.832px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;}